@import "Reset.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

body {
  font-family: "Libre Baskerville", serif;
}
input {
  font-family: "Libre Baskerville", serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 40px auto;
  background: #bde2f7;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  //form
  .adding__song {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  //list
  .songs__list {
    width: 640px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    background: #a1d5f5;
    margin: 10px 40px;
    padding: 15px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #242435;

    //custom of scroll
    &::-webkit-scrollbar {
      width: 13px;
      background-color: #82bbf0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bde2f7;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #4e607a8f;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    //end custom of scroll
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .song__details {
        margin-right: 20px;
        span {
          display: block;
        }
      }
    }
  }
  .songs__counter {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #242435;
  }
}
