@import "Reset.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
body {
  font-family: "Libre Baskerville", serif;
}
input {
  font-family: "Libre Baskerville", serif;
}
.navbar {
  width: 700px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #faf0c7;
    background: #7df109;
    box-shadow: 0 0 10px #19f312;
    padding: 15px;
    border-radius: 15px;
    &:hover {
      background: #77e609;
      opacity: 0.9;
    }
    &:active {
      background: #6cce0b;
    }
  }
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 20px auto;
  background: #bde2f7;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  //form
  .adding__song {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  //list
  .songs__list {
    width: 640px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    background: #a1d5f5;
    margin: 10px 40px;
    padding: 15px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #242435;
    //custom of scroll
    &::-webkit-scrollbar {
      width: 13px;
      background-color: #82bbf0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bde2f7;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #4e607a8f;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    //end custom of scroll
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .song__details {
        margin-right: 20px;
        span {
          display: block;
        }
      }
    }
  }
  .songs__counter {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #242435;
  }
}
/*CUSTOM AUTHOR INFO*/
.author__info {
  width: 520px;
  height: 500px;
  margin: 40px auto;
  background: #45b4f5;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  .details__wrapper {
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    height: 450px;
    text-align: justify;
    overflow: scroll;
    overflow-x: hidden;
    //custom of scroll
    &::-webkit-scrollbar {
      width: 13px;
      background-color: #82bbf0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bde2f7;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #4e607a8f;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    //end custom of scroll
    .author {
      display: block;
      color: #07057e;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .author__details {
      line-height: 20px;
      margin-bottom: 20px;
    }
    .current__header {
      display: block;
      color: #07057e;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .current {
      line-height: 20px;
    }
  }
}
/*CUSTOM USER ACTIVITIES*/
.activities__block {
  width: 520px;
  height: 500px;
  margin: 40px auto;
  background: #45b4f5;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    height: 450px;
    text-align: justify;
    overflow: scroll;
    overflow-x: hidden;
    //custom of scroll
    &::-webkit-scrollbar {
      width: 13px;
      background-color: #82bbf0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bde2f7;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #4e607a8f;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    li {
      margin-bottom: 15px;
    }
  }
}
/*Custom About US*/
.about {
  width: 480px;
  height: 450px;
  margin: 20px auto;
  background: #0e4e74;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  p {
    width: 400px;
    padding: 20px;
    margin: auto;
    background: #af6a87;
    color: #f3dbdb;
    line-height: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}
/*Custom license*/
.license {
  width: 800px;
  height: 600px;
  margin: 20px auto;
  background: #0e4e74;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  p {
    width: 700px;
    height: 500px;
    padding: 20px;
    margin: auto;
    background: #45b4f5;
    color: #2c0964;
    line-height: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: scroll;
    overflow-x: hidden;
    //custom of scroll
    &::-webkit-scrollbar {
      width: 13px;
      background-color: #82bbf0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bde2f7;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #4e607a8f;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}
.check__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.login__block {
  img {
    display: block;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}
