.modal__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(189, 226, 247, 0.2);
  backdrop-filter: blur(6px);
}

.content {
  background: rgb(103, 192, 243);
  border-radius: 15px;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
}
